html {
   height:100%;
}

body {
   margin:0;
   padding:0;
   width:100%;
   height:100%;
}

header {
   background-color:#1E90FF;
   clear:both;
   width:100%;
   height:20%;
}

nav {
   background-color:#6959CD;
   float:left;
   width:33%;
   height:60%;
}

article {
   background-color:#008B8B;
   float:left;
   width:34%;
   height:60%;
}

aside {
   background-color:#458B74;
   float:left;
   width:33%;
   height:60%;
}

footer {
  background-color:#5CACEE;
  clear:both;
  width:100%;
  height:20%;
}

#toolbar {
   position:fixed;
   left:0;
   top:40%;
   height:20%;
   width:15%;
   background-color:#FF7F24;
}
